<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expend-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white" th:text="${admin.getEmail()} + ' with roles: ' + ${admin.getRoles()}"></a>
    <a class="nav-link text-white-50 pull-right" href="/logout" style="position: absolute; top: 5px; right: 5px;">logout</a>
    </nav>
    <div class="container-fluid px-0" style="background-color: #f8f9fa">
        <div class="row no-gutters vh-100">
            <div class="col-2 pt-3 m-0 p-0" style="background-color: white">
                <ul th:object="${admin}" class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/admin/users/{id}(id=${admin.getEmail()})}">User</a>
                    </li>
                </ul>
            </div>

            <div class="col-9 m-3">
                <h1>
                    Admin Panel
                </h1>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                           aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                           aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="tab-content">
                            <div class="card">
                                <div class="card-header">
                                    <b>All users</b>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="u : ${users}">
                                            <tr>
                                                <td th:text="${u.id}"></td>
                                                <td th:text="${u.firstname}"></td>
                                                <td th:text="${u.lastname}"></td>
                                                <td th:text="${u.age}"></td>
                                                <td th:text="${u.email}"></td>
                                                <td><span th:each="role:${u.roles}"><span th:text="${role.name == 'ROLE_ADMIN'} ? 'ADMIN' : 'USER'"></span></span></td>
                                                <td>
                                                    <a class="btn btn-info btn-sm text-white" role="button"
                                                       data-toggle="modal" th:attr="data-target='#edit' + ${u.getId()}">Edit</a>
                                                    <div class="modal fade" th:id="${'edit' + u.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="text-center" th:action="@{/admin/update}" th:object="${user}" th:method="post">
                                                                        <div class="card-body m-1 p-1" align="center">
                                                                            <div class="form-group mb-1">
                                                                                <label><b>ID</b></label>
                                                                                <input type="text" class="form-control" style="width:50%" th:value="${u.id}" name="id"/>
                                                                            </div>
                                                                            <div class="form-group mb-1">
                                                                                <label><b>First Name</b></label>
                                                                                <input type="text" class="form-control" style="width:50%" name="username" th:value="${u.firstname}" />
                                                                            </div>
                                                                            <div class="form-group mb-1">
                                                                                <label><b>Last Name</b></label>
                                                                                <input type="text" class="form-control" style="width:50%"  name="lastname" th:value="${u.lastname}" />
                                                                            </div>
                                                                            <div class="form-group mb-1">
                                                                                <label><b>Age</b></label>
                                                                                <input type="text" class="form-control" style="width:50%" name="age" th:value="${u.age}"/>
                                                                            </div>
                                                                            <div class="form-group mb-1">
                                                                                <label><b>Email</b></label>
                                                                                <input type="text" class="form-control" style="width:50%" name="email" th:value="${u.email}"/>
                                                                            </div>
                                                                            <div class="form-group mb-1">
                                                                                <label><b>Password</b></label>
                                                                                <input type="text" class="form-control" style="width:50%" name="password" th:value="${u.password}"/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>
                                                                                    <b>Role</b>
                                                                                    <select class="form-control" id="rolesSelect" name="roles" multiple size="2" style="width: 225px">
                                                                                        <option class="form-control" value="ROLE_ADMIN">ADMIN</option>
                                                                                        <option class="form-control" value="ROLE_USER">USER</option>
                                                                                    </select>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <input type="submit" class="btn btn-primary" th:value="Edit"/>
                                                                        </div>
                                                                    </form>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a th:href="@{admin/{id}/delete(id=${u.id})}" class="btn btn-danger btn-sm "
                                                       role="button">Delete</a>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="tab-content">
                            <div class="card">
                                <div class="card-header">
                                    <b>Add new user</b>
                                </div>
                                <div class="card-body" align="center">
                                    <div class="newUser">
                                        <form action="#" th:action="@{/admin/adduser}" th:object="${user}" th:method="POST">
                                            <div class="form-group mb-1">
                                                <label for="username"><b>First Name</b></label>
                                                <input type="text" th:field="*{firstname}" class="form-control mb-1 col-4" style="width:50%"
                                                       id="username"  aria-describedby="nameHelp">
                                            </div>
                                            <div class="form-group mb-1">
                                                <label for="lastname"><b>Last Name</b></label>
                                                <input type="text" th:field="*{lastname}" class="form-control mb-1 col-4" style="width:50%"
                                                       id="lastname" aria-describedby="lastNameHelp">
                                            </div>
                                            <div class="form-group mb-1">
                                                <label for="age2"><b>Age</b></label>
                                                <input type="text"  th:field ="*{age}" class="form-control mb-1 col-4" style="width:50%"
                                                       id="age2" aria-describedby="emailHelp">
                                            </div>
                                            <div class="form-group mb-1">
                                                <label for="email1"><b>Email</b></label>
                                                <input type="email"  th:field = "*{email}" class="form-control mb-1 col-4" style="width:50%"
                                                       id="email1" aria-describedby="emailHelp">
                                            </div>
                                            <div class="form-group mb-1">
                                                <label for="password1"><b>Password</b></label>
                                                <input type="password" th:field = "*{password}" style="width:50%"
                                                       class="form-control mb-1 col-4"
                                                       id="password1">
                                            </div>
                                            <div class="form-group">
                                                <label><b>Role</b>
                                                    <select class="form-control" id="newRolesSelect" name="roles" multiple size="2" style="width: 225px">
                                                        <option class="form-control" value="ROLE_ADMIN">ADMIN</option>
                                                        <option class="form-control" value="ROLE_USER">USER</option>
                                                    </select>
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-success col-2">Add new user</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>